In [2]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA

In [3]:
df = pd.read_csv("data/train_cleaned.csv")

In [4]:
df.shape

(37623199, 33)

In [5]:
df.drop(labels = ['Unnamed: 0'], axis = 1, inplace = True)

In [6]:
df.shape

(37623199, 32)

In my implementation, I will drop date_time, day_of_year_srch. I will only keep encoded_day_of_year_srch(target encoded day of the year)

In [7]:
df.drop(labels = ['day_of_year_srch'], axis = 1, inplace = True)
df.drop(labels = ['date_time'], axis = 1, inplace = True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37623199 entries, 0 to 37623198
Data columns (total 30 columns):
 #   Column                      Dtype
---  ------                      -----
 0   site_name                   float64
 1   user_location_country       float64
 2   user_location_region        float64
 3   user_location_city          float64
 4   is_package                  int64
 5   channel                     float64
 6   srch_adults_cnt             int64
 7   srch_children_cnt           int64
 8   srch_rm_cnt                 int64
 9   srch_destination_id         int64
 10  is_booking                  int64
 11  cnt                         float64
 12  hotel_continent             float64
 13  hotel_country               float64
 14  hotel_market                float64
 15  hotel_cluster               int64
 16  imputed_distance            float64
 17  srch_before_ci              float64
 18  srch_trip_duration          float64
 19  encoded_day_of_year_srch    float64
 20  srch_destination_type_id_0  float64
 21  srch_destination_type_id_1  float64
 22  srch_destination_type_id_2  float64
 23  srch_destination_type_id_3  float64
 24  srch_destination_type_id_4  float64
 25  srch_destination_type_id_5  float64
 26  srch_destination_type_id_6  float64
 27  srch_destination_type_id_7  float64
 28  srch_destination_type_id_8  float64
 29  srch_destination_type_id_9  float64
dtypes: float64(23), int64(7)
memory usage: 8.4 GB

In [9]:
Y = df.pop("is_booking")
X = df

In [10]:
X.info()
Y

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37623199 entries, 0 to 37623198
Data columns (total 29 columns):
 #   Column                      Dtype
---  ------                      -----
 0   site_name                   float64
 1   user_location_country       float64
 2   user_location_region        float64
 3   user_location_city          float64
 4   is_package                  int64
 5   channel                     float64
 6   srch_adults_cnt             int64
 7   srch_children_cnt           int64
 8   srch_rm_cnt                 int64
 9   srch_destination_id         int64
 10  cnt                         float64
 11  hotel_continent             float64
 12  hotel_country               float64
 13  hotel_market                float64
 14  hotel_cluster               int64
 15  imputed_distance            float64
 16  srch_before_ci              float64
 17  srch_trip_duration          float64
 18  encoded_day_of_year_srch    float64
 19  srch_destination_type_id_0  float64
 20  srch_destination_type_id_1  float64
 21  srch_destination_type_id_2  float64
 22  srch_destination_type_id_3  float64
 23  srch_destination_type_id_4  float64
 24  srch_destination_type_id_5  float64
 25  srch_destination_type_id_6  float64
 26  srch_destination_type_id_7  float64
 27  srch_destination_type_id_8  float64
 28  srch_destination_type_id_9  float64
dtypes: float64(23), int64(6)
memory usage: 8.1 GB

0           0
1           1
2           0
3           0
4           0
           ..
37623194    0
37623195    0
37623196    0
37623197    0
37623198    1
Name: is_booking, Length: 37623199, dtype: int64

In [11]:
destinations = pd.read_csv('data/destinations.csv')

In [12]:
destinations.head()

,srch_destination_id,d1,d2,d3,d4,d5,d6,d7,d8,d9,...,d140,d141,d142,d143,d144,d145,d146,d147,d148,d149
0,0,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-1.897627,...,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657
1,1,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.165028,-2.181690,-2.181690,-2.031597,...,-2.165028,-2.181690,-2.165028,-2.181690,-2.181690,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690
2,2,-2.183490,-2.224164,-2.224164,-2.189562,-2.105819,-2.075407,-2.224164,-2.118483,-2.140393,...,-2.224164,-2.224164,-2.196379,-2.224164,-2.192009,-2.224164,-2.224164,-2.224164,-2.224164,-2.057548
3,3,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.115485,-2.177409,-2.177409,-2.177409,...,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409
4,4,-2.189562,-2.187783,-2.194008,-2.171153,-2.152303,-2.056618,-2.194008,-2.194008,-2.145911,...,-2.187356,-2.194008,-2.191779,-2.194008,-2.194008,-2.185161,-2.194008,-2.194008,-2.194008,-2.188037

In [13]:
pca = PCA(n_components = 50)

In [17]:
features = destinations.iloc[:,1:]
features.head()

,d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,...,d140,d141,d142,d143,d144,d145,d146,d147,d148,d149
0,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-1.897627,-2.198657,...,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657
1,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.165028,-2.181690,-2.181690,-2.031597,-2.181690,...,-2.165028,-2.181690,-2.165028,-2.181690,-2.181690,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690
2,-2.183490,-2.224164,-2.224164,-2.189562,-2.105819,-2.075407,-2.224164,-2.118483,-2.140393,-2.224164,...,-2.224164,-2.224164,-2.196379,-2.224164,-2.192009,-2.224164,-2.224164,-2.224164,-2.224164,-2.057548
3,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.115485,-2.177409,-2.177409,-2.177409,-2.177409,...,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409
4,-2.189562,-2.187783,-2.194008,-2.171153,-2.152303,-2.056618,-2.194008,-2.194008,-2.145911,-2.194008,...,-2.187356,-2.194008,-2.191779,-2.194008,-2.194008,-2.185161,-2.194008,-2.194008,-2.194008,-2.188037

In [18]:
feature_50 = pca.fit_transform(features)

In [21]:
feature_50 = pd.DataFrame(feature_50,columns = [f'd{i}' for i in range(1,51,1)])

In [ ]:
pip uninstall matplotlib

In [25]:
import matplotlib.pyplot as plt
%matplotlib inline

AttributeError: module 'matplotlib' has no attribute 'get_data_path'

In [ ]:
ratios = pca.explained_variance_ratio_
cum_ratio = np.zeros(len(ratios))
for i in range(len(ratios)):
    if i == 0:
        cum_ratio[i] = ratios[i]
        continue
    cum_ratio[i] = cum_ratio[i - 1] + ratios[i]
component_num = np.arange(1, len(ratios)+1)
fig, ax = plt.subplots()
sns.lineplot(x = component_num, y = cum_ratio, ax = ax);
ax.set_title("cummulative variance explained");

The dataframe is too large, try fit on the first 1 million rows

In [32]:
pca.fit(X.iloc[:1000000,:])